<!doctype html>
<html lang="en">
    <head>
        <title>Marc Deely Portfolio Site</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="description" content="{{ page.description | default: info.page.description }}"/>
		<meta name="robots" content="index,follow">
		<meta property="og:title" content="{{ title }}"/>
		<meta property="og:url" content="{{ info.page.base_url | append: page.url | replace: ".html", "" | replace: "index", "" }}" />
		<meta property="og:image" content="/{{ info.page.ogImage }}" />
		<meta property="og:image:alt" content="{{ info.page.ogImageAlt }}" />
		<meta property="og:description" content="{{ page.description | default: info.page.description }}" /> -->
		<meta property="og:type" content="website"/>
		<link rel="stylesheet" href="{{ '/css/main.css'  | relative_url }}">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
        <script></script>
    </head>