$siteBackgroundColor: #f9f9f9;
$siteTextColor: #333;
$link: #92c3ff;

$project-map: (
    albert: #F0BF6C,
    flyleaf: #111111,
    moving-company-reviews: #99b942,
    mu-optics: #580061,
    open-home-pro: #2f9bdd,
    rise-and-shine: #F4964E,
    scrybe: #464646,
    sqipp: #B3291A,
    graphics: #463857,
);
