---
layout: default
---
<body>
    {% include nav.html %}
    <div class="statement">I design functional, adaptable, and accessible interfaces</div>
    <ul class="projectsList">
        {% for project in site.projects %}
            {% if project.draft != true %}
                <li class="projectItem" data-categories="{{project.categories}}">
                    <div class="projectItem__title">{{project.title}}</div>
                    <a href="{{project.url}}" class="projectItem__link" style="background-image: url('{{site.image_path}}/{{project.slug}}/{{project.slug}}-thumb.png')">
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>